# Diana Luvandale Data Science Prep W1 Independent Project: Week 1

## <font color="green"> SQL Programming - Solution</font>

**Question:** In this section, you will act as a Data Science Consultant who will answer questions posed using a dataset collected by Dalberg. The dataset contains crops grown in Uganda.

In [0]:
# Loading the sql extension
# 
%load_ext sql

# Connecing to in-memory sqlite database
#
%sql sqlite://

'Connected: @None'

In [0]:
# Importing the required libraries
# 
import csv
import pandas as pd

In [0]:
# Loading our dataset
# 
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Uganda_Crop = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Dropping and loading data
#
%sql DROP TABLE if EXISTS Uganda_Crop;
%sql PERSIST Uganda_Crop;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda_crop'

In [0]:
# Displaying a list of Sub Counties and their population and areas
# 
%%sql
SELECT subcounty_name "Sub County",pop Population, area 
FROM uganda_crop;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [0]:
# Sorting the list of districts by total crop area (descending order)
%%sql 
SELECT district_name "District", Crop_Area_Ha "Crop Area in Hectares"
FROM uganda_crop  
ORDER BY Crop_Area_Ha DESC;

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO', 13278.52043),
 ('KOTIDO', 10398.24939),
 ('KOTIDO', 7087.823334000001),
 ('KOTIDO', 7023.533691),
 ('KAABONG', 6890.699234000001),
 ('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 5793.5076229999995),
 ('NAKAPIRIPIRIT', 5759.618906000001),
 ('NAPAK', 5473.443674),
 ('NAKAPIRIPIRIT', 5079.779088),
 ('KAABONG', 3934.432233),
 ('NAKAPIRIPIRIT', 3276.653762),
 ('NAKAPIRIPIRIT', 3264.534948),
 ('NAPAK', 3120.318045),
 ('NAPAK', 2990.847377),
 ('KAABONG', 2834.349905),
 ('KAABONG', 2700.676313),
 ('AMUDAT', 2513.27183),
 ('MOROTO', 2480.1219),
 ('KAABONG', 2365.259806),
 ('MOROTO', 2217.2907170000003),
 ('NAKAPIRIPIRIT', 2008.0681690000001),
 ('KAABONG', 1890.248613),
 ('NAPAK', 1849.966589),
 ('KOTIDO', 1656.5318550000002),
 ('AMUDAT', 1651.99842),
 ('AMUDAT', 1539.401382),
 ('KAABONG', 1494.047587),
 ('KAABONG', 1491.771813),
 ('ABIM', 1266.109868),
 ('NAPAK', 1215.227445),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 1111.664207),
 ('NAPAK', 1031.196285),
 ('KAABONG', 1021.31699),
 ('ABIM', 999.3715888),
 ('KAABONG', 997.1610206),
 ('KAABONG', 967.3367266),
 ('KAABONG', 957.4939457999999),
 ('ABIM', 925.0541302000001),
 ('ABIM', 792.8987889),
 ('NAPAK', 792.2492731000001),
 ('ABIM', 788.4628001),
 ('ABIM', 698.1712182),
 ('KAABONG', 401.7978207),
 ('KAABONG', 175.08052659999998),
 ('MOROTO', 145.243518),
 ('AMUDAT', 60.77208552),
 ('NAKAPIRIPIRIT', 29.14576036),
 ('MOROTO', 0.322315707),
 ('MOROTO', 0.17139046100000002)]

In [0]:
# Selecting only the Sub counties from the Moroto district, 
# ordering them alphabetically and showing their production of sorghum
%%sql
SELECT subcounty_name "Sub County", S_Prod_Tot "Sorghum Production"
FROM uganda_crop 
where district_name = "MOROTO"  
ORDER BY subcounty_name asc;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

In [0]:
# total Maize production per District
%%sql
SELECT district_name "District", total(M_Prod_Tot) "Total Maize Production"
FROM uganda_crop
GROUP BY district_name
ORDER BY total(M_Prod_Tot) DESC

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 8125156.24546),
 ('KAABONG', 6990361.6143000005),
 ('NAPAK', 5587379.38888),
 ('AMUDAT', 3546469.3324990002),
 ('KOTIDO', 2010179.0731479998),
 ('ABIM', 1922133.1297),
 ('MOROTO', 422116.06882464996)]

In [0]:
# number of sub counties where Maize is produced 
# and the total Maize production per District
%%sql
SELECT district_name "District", sum(M_Prod_Tot) "Maize Prod Per District",count(subcounty_name) "Sub County Count"
FROM uganda_crop
WHERE (M_Prod_Tot >0) or (M_Prod_Tot is null)
GROUP BY district_name

 * sqlite://
Done.

[('ABIM', 1922133.1297, 6),
 ('AMUDAT', 3546469.3324990002, 4),
 ('KAABONG', 6990361.6143000005, 14),
 ('KOTIDO', 2010179.0731479998, 6),
 ('MOROTO', 422116.06882464996, 5),
 ('NAKAPIRIPIRIT', 8125156.24546, 8),
 ('NAPAK', 5587379.38888, 8)]

In [0]:
#overall Crop area in all Sub counties where population is over 20000
%%sql
SELECT sum(Crop_Area_Ha) 
FROM uganda_crop 
WHERE pop >20000

 * sqlite://
Done.

[(120212.89015529997,)]

In [0]:
# Sorting the Maize production in descending order by Districts, 
# only taking into account Sub counties where Maize area is larger than Sorghum area, 
# and displaying the number of Sub counties per district matching that criteria.
%%sql
SELECT district_name , count(subcounty_name) "Sub Counties Count"
FROM uganda_crop
WHERE M_Area_Ha > S_Area_Ha
ORDER BY district_name desc

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 12)]